/*********MAIN STYLE*********/
html {
    width: 80%;
    height: 100%;
    min-height: 90%;
    margin: 0 auto;
    font-size: 16px;
}

body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: lightsalmon;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
    text-align: center;
    padding: 1% 0 3% 0;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    margin: 0;
    color: black;
}

tr {
    height: 100px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightcyan;
}

tr:nth-child(odd) {
    background-color: white;
}

.panels {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}

.scrollit {
    overflow-y:scroll;
    text-align: center;
    height:800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

/**********FILE LOG**********/
#uploadForm {
    float: left;
    padding-left: 5%;
}

#submitNewSVG {
    float: right;
    padding-right: 5%;
}

#uploadFile {
    width: 200px;
    padding: 0;
    margin: 0;
}

#addSVGs {
    padding: 25px 0 50px 0;
}

/**********SVG VIEW PANEL**********/
#viewPanelHead {
    float: left;
    margin: 0;
    padding: 0 0 0 5%;
}

#dropdownDiv {
    float: right;
    padding: 0 5% 0 0;
}

#ImageView {
    height: 800px;
}

#imageSelect {
    padding: 50px 0 50px 0;
}

/**********EDIT WINDOW**********/
#editWindow {
    margin: 0;
    background-color: #f2f2f2;
    margin-bottom: 100px;
    margin-top: 100px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#editHead {
    float: left;
    padding: 0 0 0 5%;
    margin: 0;
}

#components {
    float: right;
    padding-right: 5%;
}

#compSelection {
    height: 100px;
    padding: 25px 0 25px 0;
}

.edit {
    height: 70px;
    padding-left: 2%;
}

@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}